:root {
    --main-color: #231f20;
    --secondary-color: #530b0d;
    --main-font: 'Reem Kufi Fun', sans-serif;
    --vh: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
    color: white;
}

body {
    background-color: var(--main-color);
    position: relative;
}

header {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

h2 {
    color: white;
    text-align: center;
}

.links {
    display: none;
}

.link {
    list-style-type: none;
}

.inner-link {
    text-decoration: none;
    color: black;
}

#nav-image {
    height: 50px;
}

.toggle-button {
    height: 21px;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
}

.bar {
    display: inline-block;
    width: 100%;
    background-color: white;
    height: 3px;
    border-radius: 4px;
}

#home {
    position: absolute;
    height: calc(.75 * var(--vh));
    height: var(--vh);
    width: 100%;
}

#home-container {
    opacity: 0;
    transition: all 2s;
}

#home-background {
    position: absolute;
    width: 100%;
    object-fit: cover;
    height: calc(.75 * var(--vh));
    height: var(--vh);
}

.home-titles {
    position: relative;
    /* top: 45vh; */
    font-size: 12px;
    margin-left: -6px;
    opacity: 0;
}

.home-title-onload {
    opacity: 1;
    transform: translateY(calc(.6 * var(--vh)));
    transition: all 1s;
}

#home-container.fade-in {
    opacity: 1;
}

#logo {
    height: 100px;
}

.spacer {
    height: calc(.75 * var(--vh));
    height: var(--vh);
}

.small-strikethrough {
    margin: calc(.05 * var(--vh)) 0;
}

.about-image {
    width: 50vw;
}

.section2-content,
.left-section {
    display: flex;
    justify-content: center;
}

.section2-content {
    color: white;
    flex-direction: column;
    gap: calc(.05 * var(--vh));
}

.left-section {
    gap: calc(.0125 * var(--vh));
}

.about-image-portrait {
    height: 100px;
    height: calc((50vw / 1.81313869) + (50vw / 1.90909091) + .0125 * var(--vh));
}

.stacked-images {
    display: flex;
    flex-direction: column;
    gap: calc(.0125 * var(--vh));
}

.right-section>p {
    padding: 0 20px;
    text-align: center;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 3.4vw;
}

.gallery-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#pricing>.small-strikethrough {
    margin: calc(.05 * var(--vh)) 0 0 0;
}

#car-type-text {
    display: block;
    text-align: center;
    margin-bottom: calc(.05 * var(--vh));
}

.car-type {
    margin: 0 calc(.0125 * var(--vh));
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: calc(.0125 * var(--vh));
}

.car:nth-child(-1n + 3) {
    grid-column: span 4;
}

.car:nth-last-child(2) {
    grid-row-start: 2;
    grid-column: 3 / span 4;
}

.car:nth-last-child(1) {
    grid-row-start: 2;
    grid-column: 7 / span 4;
}

.car {
    height: 100px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#small-car {
    background-image: url(./images/car.png);
}

#sedan {
    background-image: url(./images/sedan.png);
}

#suv {
    background-image: url(./images/bigger-car.png);
}

#van {
    background-image: url(./images/van.png);
}

#truck {
    background-image: url(./images/pickup-truck.png);
}

.pricing-packages {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: calc(.0125 * var(--vh));
    justify-items: center;
    margin: calc(.0125 * var(--vh)) 0;
}

.pricing-card {
    width: 90vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pricing-card>ul {
    list-style-image: url(./images/green-checkmark.svg);
}

.detail-type {
    text-align: center;
}

.detail-type,
.price,
.checkmark {
    color: black;
}

.checkmark {
    width: 40vw;
}

.checkmark::marker {
    font-size: 36px;
}

.book-now-btn {
    height: 50px;
    width: 150px;
    border-radius: 10px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: calc(.0125 * var(--vh)) 0;
    transition: all .25s;
}

.section5 {
    padding: 0 0 calc(.1 * var(--vh)) 0;
}

.contact-left {
    display: flex;
    justify-content: center;
    margin-bottom: calc(.06 * var(--vh));
}

.contact-left>form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

#submit {
    height: 50px;
    width: 150px;
    border-radius: 10px;
    background-color: white;
    color: black;
    border: none;
    margin: calc(.03 * var(--vh)) 0;
}

input,
textarea {
    display: block;
    width: 50vw;
    margin-bottom: calc(.0125* var(--vh));
    color: black;
    border-radius: 0;
    border: none;
}

textarea {
    margin-bottom: 0;
}

label {
    align-self: flex-start;
}

footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-right {
    display: flex;
    justify-content: center;
    margin-bottom: calc(.06 * var(--vh));
}

.icon-link {
    display: flex;
}

.icon {
    height: 25px;
    width: 25px;
    display: inline-block;
}

@media (min-width: 720px) {
    .gallery-grid {
        grid-template-columns: repeat(3, 1fr);
        margin: 0 calc(.025 * var(--vh));
        grid-gap: calc(.025 * var(--vh));
    }
}