:root {
    --main-color: #231f20;
    --secondary-color: #530b0d;
    --main-font: 'Reem Kufi Fun', sans-serif;
    --vh: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}

body {
    background-color: var(--main-color);
}

header {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

h2 {
    color: white;
    text-align: center;
}

.links {
    display: none;
}

.link {
    list-style-type: none;
}

.inner-link {
    text-decoration: none;
    color: black;
}

#nav-image {
    height: 50px;
}

.toggle-button {
    height: 21px;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
}

.bar {
    display: inline-block;
    width: 100%;
    background-color: white;
    height: 3px;
    border-radius: 4px;
}

#home {
    position: absolute;
    height: calc(.75 * var(--vh));
    height: var(--vh);
    width: 100%;
}

#home-container {
    opacity: 0;
    transition: all 2s;
}

#home-background {
    position: absolute;
    width: 100%;
    object-fit: cover;
    height: calc(.75 * var(--vh));
    height: var(--vh);
}

.home-titles {
    position: relative;
    /* top: 45vh; */
    font-size: 12px;
    margin-left: -6px;
    opacity: 0;
}

.home-title-onload {
    opacity: 1;
    transform: translateY(calc(.6 * var(--vh)));
    transition: all 1s;
}

#home-container.fade-in {
    opacity: 1;
}

#logo {
    height: 100px;
}

.spacer {
    height: calc(.75 * var(--vh));
    height: var(--vh);
}

.small-strikethrough {
    margin: calc(.05 * var(--vh)) 0;
}

.about-image {
    width: 50vw;
}

.section2-content,
.left-section {
    display: flex;
    justify-content: center;
}

.section2-content {
    color: white;
    flex-direction: column;
    gap: calc(.05 * var(--vh));
}

.left-section {
    gap: calc(.0125 * var(--vh));
}

.about-image-portrait {
    height: 100px;
    height: calc((50vw / 1.81313869) + (50vw / 1.90909091) + .0125 * var(--vh));
}

.stacked-images {
    display: flex;
    flex-direction: column;
    gap: calc(.0125 * var(--vh));
}

.right-section>p {
    padding: 0 20px;
    text-align: center;
}


.gallery-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* margin: 3.4vw; */
    grid-template-rows: auto;
    gap: 3.4vw;
}

.gallery-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}