:root {
    --main-color: #231F20;
    --secondary-color: #530B0D;
    --main-font: 'Reem Kufi Fun', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    scroll-margin-top: 50px;
    scroll-behavior: smooth;
    font-family: var(--main-font);
}

.links {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    list-style: none;
    height: 60px;
    margin-left: 1vw;
    gap: 40px;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    height: 60px;
    width: 120px;
    cursor: pointer;
    transition: .2s;
    font-size: 24px;
}

.link:hover {
    border-bottom: white 2px solid;
    margin-top: -2px;
}

a {
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 100;
    font-family: var(--main-font);
}

.toggle-button {
    position: absolute;
    top: 1.25rem;
    right: .75rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    z-index: 100;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}

header {
    background-color: var(--main-color);
    height: 60px;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
}

#navbar {
    display: flex;
    justify-content: center;
    top: 0;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 60px;
}

#nav-logo {
    position: absolute;
    margin-left: 20vw;
    cursor: pointer;
    height: 60px;
    z-index: 3;
}

#nav-image {
    height: 60px;
    cursor: pointer;

}

.home-container {
    position: relative;
    margin-top: 60px;
    background-color: var(--main-color);
    background-image: url(./images/front-hood-buff.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 920px;
    height: 100vh;
    opacity: 0;
    transition: .5s;
}

.fade-in {
    opacity: 1;
}

.home-titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 50%;
    opacity: 0;
    position: absolute;
    font-family: var(--main-font);
    font-weight: 300;
    transition: 1s;
}

.home-title-onload {
    opacity: 1;
    bottom: 20%;
}

#home-slogan {
    margin-top: -40px;
}

.home-learn-more,
#confirm,
.book-now-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    /* width: 8vw; */
    border-radius: 20px;
    border: none;
    color: white;
    background-color: var(--main-color);
    cursor: pointer;
    font-family: var(--main-font);
    font-weight: 300;
    font-size: 16px;
    transition: .4s;
    border: 1.5px black solid;
}

.home-learn-more:hover,
.book-now-btn:hover {
    background-color: white;
    color: var(--main-color);
}

#logo {
    width: 400px;
    margin-left: 6px;
}

.section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 75px;
    width: 100%;
    background-color: #231F20;
}

.section-title {
    text-align: center;
    color: white;
    font-family: 'Reem Kufi Fun', sans-serif;
    font-weight: 300;
    font-size: 36px;
}

.section2-content {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    width: 100%;
    background-color: #231F20;
}

.left-section {
    margin: 50px 0 0 50px;
    display: flex;
    gap: 20px;
}

.stacked-images {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}

.about-image {
    max-width: 500px;
    width: 27vw;
}

.about-image-portrait {
    max-height: 600px;
    height: 31vw;
    width: auto;
    justify-self: center;
    align-self: center;
    z-index: 5;
}

.right-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: var(--main-font);
    padding: 50px;
    max-width: 1000px;
}

.strikethrough,
.small-strikethrough {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid white;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.small-strikethrough {
    width: 25%;
}

h2 span {
    padding: 0 10px;
    background: var(--main-color)
}

.section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    height: auto;
    background-color: var(--main-color);
}

.hidden {
    opacity: 0;
    transition: all 1s, opacity 2s;
}

.hidden.about-image {
    transform: translateX(-100%);
}

.show {
    opacity: 1;
}

.show.about-image {
    transform: translateX(0);
}

.gallery-grid {
    padding-top: 35px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 25vw);
    gap: 15px;
}

.gallery-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.section4 {
    height: auto;
    padding-top: 200px;
    background-color: var(--main-color);
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.car-type {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.car {
    width: 250px;
    height: 200px;
    background-color: white;
    cursor: pointer;
    transition: all .5s;
    background-image: url(./images/car.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.pricing-packages {
    height: 100%;
    width: min(100%, 1920px);
    background-color: var(--main-color);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 25vw);
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.pricing-card {
    position: relative;
    padding: min(20px) 0;
    height: 400px;
    width: 300px;
    background-color: white;
    transition: all .5s;
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.detail-type {
    text-align: center;
    position: absolute;
    top: 10px;
}

.pricing-card:hover {
    border: 1px green solid;
    scale: 1.05;
    box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 1);
}

.pricing-card:hover .book-now-btn {
    color: white;
    border: none;
    background-color: green;
}

.book-now-btn {
    position: absolute;
    bottom: 10px;
}

.checkmark {
    list-style: none;
    margin-left: 20px;
    padding: 10px 30px;
    background-image: url("./images/green-checkmark.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 1vw;
}

.section5 {
    padding-top: 100px;
    min-height: 600px;
    width: 100%;
    background-color: var(--main-color);
    color: white;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section5-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.contact-left,
.contact-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.contact-left {
    padding-left: 10vw;
    gap: 1vw;
    align-items: flex-start;
}

.text {
    font-family: var(--main-font);
    font-weight: 300;
    font-size: 36px;
}


.icon {
    height: 50px;
    width: 50px;
    background-size: cover;
    cursor: pointer;
    display: inline-block;
    transform: translateY(15px);
}

.icon-link {
    height: auto;
    width: auto;
}

.socials {
    padding-left: 4vw;
    display: inline-flex;
    gap: 4vw;
}

#instagram {
    background-image: url(./images/Instagram.png);
}

#facebook {
    background-image: url(./images/Facebook.png);
}

#fname,
#lname,
#message {
    background-color: var(--main-color);
    border: none;
    font-size: 40px;
    color: white;
    font-family: var(--main-font);
    font-weight: 300;
    outline: none;
    margin: 20px;
    border-bottom: 2px white solid;
}

#message {
    height: 200px;
}

#fname:focus,
#lname:focus,
#message:focus {
    font-size: 40px;
    outline: none;
}

#confirm {
    margin-left: 20px;
    border: none;
    background-color: rgb(96, 96, 106);
    min-height: 40px;
}

#confirm:hover {
    background-color: white;
    color: var(--main-color);
}

.selected {
    background-color: green;
    height: 225px;
}


footer {
    height: 50px;
    width: 100%;
}

@media only screen and (max-width: 1870px) {
    .pricing-packages {
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: repeat(2, auto);
        gap: 20px;

    }
}

@media only screen and (max-width: 1600px) {
    #nav-logo {
        margin-left: 10vw;
    }

    .car-type {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 1250px) {
    #nav-logo {
        display: none;
    }
}

@media only screen and (max-width: 1000px) {
    .pricing-packages {
        grid-template-columns: repeat(2, 300px);
        grid-template-rows: repeat(3, auto);
        gap: 20px;
    }
}

@media only screen and (max-width: 1000px) {
    .section5-content {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
}

@media only screen and (max-width: 750px) {
    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .links {
        display: none;
    }

    #nav-logo {
        display: block;
        margin-left: 0;
    }

    .home-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80vh;
        background-image: url(./images/mobile-background-image.jpg);
        background-size: cover;
    }

    .home-titles {
        background-color: white;
        border-radius: 40px;
        width: 80vw;
        height: auto;
        padding-bottom: 80px;
    }

    .home-title-onload {
        bottom: 45vh;
    }

    .home-learn-more {
        position: absolute;
        bottom: 15px;
        width: 30vw;
    }

    .toggle-button {
        display: flex;
    }

    .section2-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left-section {
        margin: 0;
        width: auto;
        height: auto;
    }

    .gallery-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .grid-item:nth-child(9) {
        display: none;
    }
}

@media only screen and (max-width: 650px) {
    .pricing-packages {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, auto);
        gap: 20px;
    }

    .pricing-card {
        height: 450px;
        width: 450px;
    }

    .detail-type {
        font-size: 26px;
    }

    .checkmark {
        font-size: 20px;
    }
}